* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: white;
	min-height: 100vh;
	background-image: url("img/retro-wave-bg4.jpg");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire */
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0, .6); /*rgba(64, 63, 99, .6);*/
	border-bottom: solid 1px white;
}

nav h1 {
	margin: 0 0 0 30px;
	font-size: 30px;
	color: fuchsia;
}

nav i {
	margin: 0 30px 0 0;
	font-size: 30px;
}

div.social-media {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
}

.social-media i {
	color: lightgrey;
	font-size: 30px;
}

section {
	height: 75%;
}

div.cloud {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cloud p {
	color: #ff6e07;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.zergost-img {
	width: 160px;
	height: 160px;
	margin: 30px 0;
}

.about p {
	/*margin: 30px 0;*/
	margin: 10px 5% 0 5%;
	padding: 10px;
	line-height: 1.3;
	border: solid 1px #fff;
	border-radius: 5px;
	background-color: rgba(0,0,0, 0.5);
}

div.cloud {
	margin-top: 20px;
}

.cloud i {
	font-size: 40px;
	color: #ff6e07; /* #ff6e07 - orange */
}

.cloud p {
	font-weight: 700;
}

div.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	position: absolute;
	bottom: 5px;
	height: 50px;
	padding: 10px 0 20px 20px;
	color: fuchsia;
	background-color: #000;
}

@media screen and (min-width: 650px) {

	body {
		
	}

}

@media screen adn (min-width: 1400px) {

i.twit:hover {  /* playing around */
		color: #5577bb;
		font-size: 40px;
}

i.insta:hover {  /* playing around */
		color: fuchsia;
		font-size: 40px;
}

i.face:hover {  /* playing around */
		color: #5577bb;
		font-size: 40px;
}

i.tube:hover {  /* playing around */
		color: red;
		font-size: 40px;
}

i.cloud:hover {  /* playing around */
		color: #ff6e07;
		font-size: 50px;
}
}